<% @posts.each do |post| %>
<div class="row post">
	<div class="span12">
		<%= time_ago_in_words(post.created_at) %> ago
		<span style="float:right;">Post #<%= link_to post.id, post %></span>
	</div>
	<div class="span2">
		<%= link_to post.user.username, post.user %>
	</div>
	<div class="span10">
		<%= simple_format(post.content) %>
	</div>
</div>
<% end %>