<footer class="footer">
	<small>
		<a href="http://github.com/TehWhale/GGT">The Gift Giving Thread</a>
		by <a href="http://erppy.co/">TehWhale</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Statistics", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
		</ul>
	</nav>
</footer>